* {
    transition: all 0.5s;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif
}

.w3-container {
    background-color: var(--background-body);
    color: var(--color-body);
}

html {
    --background-body: lightgray;
    --color-body: gray;
}

html[data-theme="dark"] {
    --background-body: #121212;
    --color-body: lightgray;
}

body {
    background-color: var(--background-body);
    color: var(--color-body);
}